/* Base styles for mobile-first design */
.container {
  padding: 16px;
}

.header, .footer {
  text-align: center;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablet styles */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header, .footer {
    text-align: left;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-container {
    padding: 40px;
  }
}

/* Large desktop styles */
@media (min-width: 1440px) {
  .main-container {
    padding: 60px;
  }
}


// APLICAÇÃO DAS ANIMAÇÕES DO SPLITTING
[data-splitting] {
  --word-total: var(--word-count);
  --char-total: var(--char-count);
   opacity: 0; 
   transition: opacity 0.5s ease;
}

/* Atualizado Recentemente */
[data-splitting].animate {
  opacity: 1;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* animation: slide-up 5.5s cubic-bezier(0.25, 1, 0.5, 1) both;
  animation-delay: calc(var(--word-index) * 0.10s); */
}

[data-splitting].animate .word {
  opacity: 1;
  transform: translateY(0);
}

.animate .word {
  animation: slide-up 0.5s cubic-bezier(0.25, 1, 0.5, 1) both;
  animation-delay: calc(var(--word-index) * 0.05s);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
    /* transform: translateY(50%); Atualizado Recentemente*/
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}